$mainColor: #2E2E2E !global
$iconColor: #8E8E8E
$iconColorHover: #fff
$iconColorHoverDark: #656565
$iconColorHoverOrange: #FF9C2C
$textColorDark: #909090
$textColorLight: #F2F2F2
$searchMainColor : #fff

$fontSizeText : 16px
$fontSizeHeadline : 18px

.ledftDropMenuBox
    width: 302px
    height: 1000px
    background-color: $mainColor
    border-top : 1px solid #484848